[Unit]
Description=EasyEffects (audio effects daemon)
After=pipewire.service pipewire-pulse.service wireplumber.service
Wants=pipewire.service pipewire-pulse.service wireplumber.service

[Service]
Type=simple
ExecStart=/usr/bin/easyeffects --gapplication-service
ExecStartPost=/usr/bin/sh -c 'sleep 0.5'
Restart=on-failure
RestartSec=2

[Install]
WantedBy=default.target
